@import "tailwindcss";
@import "./vData.scss";

/*设置网站字体*/
/*原则上你可以设置多个字体，然后在不同的部位使用不同的字体*/
@font-face{
    font-family:btfFont;
    src: url(../font/PingFangGongZiTi-2.woff2) format('woff2')
}
body{
    font-family:"btfFont" !important;
}
#app {
    width: 100%;
    max-width: inherit;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
}
img {
    display: inline-block;
}
body {
    display: block;
}
.home > canvas {
    height: 100% !important;
}
.subtitle {
    -webkit-text-fill-color: transparent;
  background:linear-gradient(94.75deg, rgb(92 247 60) 0%, rgb(253 227 101) 43.66%, rgb(113 255 0) 64.23%, rgb(38 3 3) 83.76%, rgb(166 172 100) 100%);
  -webkit-background-clip: text;
}
.leftbar {
    -webkit-text-fill-color: transparent;
  background:linear-gradient(94.75deg, rgb(239 57 18) 0%, rgb(253 247 101) 43.66%, rgb(255 107 0) 64.23%, rgb(239 240 10) 83.76%, rgb(230 74 163) 100%);
  -webkit-background-clip: text;
}
.music-theme-drawer {
    padding: 0 !important;
}
.md-editor-preview {
    font-size: inherit !important;
    text-align: left !important;
    color: inherit !important;
}
.smart-blue-theme {
    font-family: inherit !important;
}

@keyframes colorChange {
    0%,
    100% {
      opacity: 0;
    }
  
    50% {
      opacity: 0.9;
    }
  }
@keyframes about-self {
    0% {
        transform: rotate(0);
        filter: hue-rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(0deg);
    }
}
@keyframes about-text {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -60%);
    }
}
@keyframes about-ws {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
@keyframes about-24h {
    0% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}
@keyframes about-text1 {
    0% {
        left: 100%;
    }
    100% {
        left: -200%;
    }
}
@keyframes about-fk {
    0% {
        transform: translateZ(-500px) rotate(0deg);
    }
    100% {
        transform: translateZ(500px) rotate(0);
    }
}

@keyframes about-fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bgAnimation {
    0%,100%{
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
@theme {
    --theme-color: #425aef;
    --hover-theme-color: rgba(66, 90, 239, 0.5);
    --animate-bounceKey: bounceKey 10s linear infinite;
    @keyframes bounceKey {
        0%, 100% {
            transform: translate(200px, 50px);
        }
        50% {
            transform: translate(-200px, 50px);
        }
    }

    --animate-enter: enter 300ms ease-in-out 1 forwards;
    @keyframes enter {
        0% {
            transform: translate(-100%);
        }
        100% {
            transform: translate(0);
        }
    }

    --animate-leave: leave 300ms ease-in-out 1 forwards;
    @keyframes leave {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(-100%);
        }
    }

    --animate-ltr: ltr 400ms ease-in-out 1 forwards;
    @keyframes ltr {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }
    --animate-rtl: rtl 400ms ease-in-out 1 forwards;
    @keyframes rtl {
        0% {
            left: 100%;
        }
        100% {
            left: -100%;
        }
    }
    --animate-show1: show1 0.2s linear forwards;
    --animate-show2: show2 0.2s linear forwards 0.2s;
    --animate-show3: show3 0.2s linear forwards 0.4s;
    --animate-show4: show4 0.2s linear forwards 0.6s;
    --animate-dataTitle: dataTitle 0.5s linear forwards 0.8s;
    --animate-rotate_main: rotate_main 5s linear infinite;
    --animate-move_right: move_right 1s linear forwards 7s;
    --animate-move_left: move_left 1s linear forwards 7s;
    --animate-come1: come1 0.5s linear forwards 3.4s;
    --animate-come2: come2 0.5s linear forwards 3.4s;
    --animate-come3: come3 0.5s linear forwards 3.4s;
    --animate-come4: come4 0.5s linear forwards 3.4s;
    --animate-inner1: inner1 0.3s linear forwards 3.9s;
    --animate-inner2: inner2 0.3s linear forwards 3.9s;
    --animate-arrow1: arrow1 1.5s linear infinite 4s;
    --animate-arrow2: arrow2 1.5s linear infinite 4s;
    --animate-meter: meter 3s linear forwards 4.1s;
    --animate-sale: sale 1s linear forwards 8s;
    --animate-di2: di2 1s linear forwards 7s;
    --animate-show5: show5 1s linear forwards 8.5s;
}

:root {
    --scrollbar-width: 6px;
    --scrollbar-bg: #f1f1f1;
    --scrollbar-thumb-bg: var(--hover-theme-color);
    --scrollbar-thumb-hover-bg: var(--theme-color);
}
 
/* 应用到滚动条 */
::-webkit-scrollbar { width: var(--scrollbar-width); }
::-webkit-scrollbar-track { background: var(--scrollbar-bg); }
::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-bg); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-thumb-hover-bg); }